<div class="global-container">
  <div class="search-bar-container">
    <div class="search-bar">
      <span class="search-icon-container">🔍</span>
      <input
        #input
        class="text-input"
        (change)="nameFilter = input.value; filterList()"
        type="text"
        name="country-name"
        placeholder="search for a country..."
      />
    </div>

    <select class="filter-control" (change)="filterByRegion($event)" required>
      <option value="" disabled selected>filter by region</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Oceania">Oceania</option>
      <option value="Europe">Europe</option>
      <option value="Africa">Africa</option>
    </select>
  </div>

  <div class="country-items-container">
    <div
      class="country-list-item-container"
      [routerLink]="'/countryDetails/' + country.name.common"
      *ngFor="let country of filteredCountries"
    >
      <div class="country-list-item-shadow-effect">
        <app-country-list-item [model]="country"></app-country-list-item>
      </div>
    </div>
  </div>
</div>
