
.global-container
  position: relative

.country-image
  width: 100%

.description-container
  padding: 20px

.text-block
  display: block
  font-weight: bold
.text-value
  font-weight: lighter

.country-label
  margin-bottom: 20px
  font-weight: bold
  display: block
