<div class="global-container">
  <div class="image-container">
    <img class="country-image" [src]="model.flags.svg" alt="flag image" />
  </div>
  <div class="description-container">
    <span class="country-label">{{ model.name.common }}</span>
    <span class="text-block"
      >Population: <span class="text-value">{{ model.population }}</span></span
    >
    <span class="text-block"
      >Region: <span class="text-value">{{ model.region }}</span></span
    >
    <span class="text-block"
      >Capital: <span class="text-value">{{ model.capital }}</span></span
    >
  </div>
</div>
